html {
  font-size: 18px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font: 1rem "Helvetica";
  height: 100vh;
}
#root {
  height: 100%;
} 
.grid-container {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
.header {
  grid-area: header;
  background: #203040;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  height: 4rem;
}
.brand a {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  padding-left: 2rem;
}
.header-links a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}
.header-links a:hover, .brand a:hover {
  color: rgb(228, 26, 60);
  text-decoration: none;
}
.main {
  grid-area: main;
}
/* Product sections */
.products{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  list-style-type: none;
  flex: 0 1 12rem;
  margin: 1rem;
  height: 27rem;
  border-bottom: .2px #929191 Solid !important;
}
.products li a {
  color: #555555;
  text-decoration: none;
}
.products li:hover {
  transform: scale(1.04);
}
.product-rating {
  margin-bottom: 1rem;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95%;
}
.product-image {
  width: fit-content;
  height: 18rem;
  max-width: 15rem;
  max-height: 15rem;
}
.product-name {
  font-size: 1rem;
}
.product-price {
  font-size: 1.2rem;
  font-weight: bold;
}
/* Side bar*/
.brand-button {
  font-size: 2rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding-left: unset !important;
}

.sidebar {
  position: fixed;
  transition: all 1s;
  transform: translateX(-30rem);
  width: 20rem;
  background: #f0f0f0;
  height: 100%;
  z-index: 1;
}
.sidebar.open {
  transform: translateX(0);
}
.fa-times {
  font-size: 1.5rem;
  border: 2px ;
  position: absolute;
  right: 2rem;
  top: 3rem;
}
.fa-times:hover {
  cursor: pointer;
}
.sidebar h3 {
  padding: 2rem 0 0rem 1rem;
}
.sidebar button {
  border: none;
}
.sidebar li {
  padding-bottom: 0.8rem !important;
  cursor: pointer;
  list-style-type: none;
}
.sidebar a {
  color: black;
  text-decoration: none;
}
.sidebar a:hover {
  text-decoration: none;
  color: black;
}
.sidebar li:hover {
  text-decoration: none;
  background: #9291913f;
  /* padding: 0.1rem 4rem 0.1rem 0.1rem; */
}
.footer {
  grid-area: footer;
  background: #203040;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Product details*/ 
.back-to-home {
  text-decoration: none;
  padding: 0px 85px;
  font-size: 18px;
}
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px 90px;
  font-size: 18px;
}
.details h4 {
  font-size: 24px;
  margin-top: 0px;
}
.details-image {
  flex: 2 1 24rem;
}
.details-image img {
  max-width: 40rem;
  width: 100%;
}
.details-info {
  flex: 1 1 20rem;
}
.details-action {
  flex: 1 1 20rem;
  float: right;
}
.description-paragraph {
  padding-top: 15px;
  line-height: 2rem;
  font-size: 18px;
}
.details-info ul, .details-action ul {
  list-style-type: none;
  padding: 0 50px;
}
.details-info li, .details-action li {
  margin-bottom: 1rem;
}
.details-action {
  border: .1rem #808080 solid;
  border-radius: .5rem;
}
.details-info ul li:nth-child(3),.details-info ul li:last-child {
  font-size: 21px;
}
.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
.Add-to-cart-btn {
  padding: .5rem;
  background: white;
  border: .1rem #006631 solid;
  border-radius: .5rem;
  cursor: pointer;
  font-size: 18px;
}
.Add-to-cart-btn:hover {
  background: #006631;
  color: white;
}
.cart {
  display: flex;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-right: 5rem;
}
.cart-list {
  flex: 3 1 15rem;
}
.cart-action {
  flex: 1 1 10rem;
  border: 0.1rem #000 solid;
  height: 10rem;
  border-radius: 10px;
  margin-top: 4rem;
  text-align: center;
  margin-left: 2rem;
}
.cart-action h3 {
  padding: 1rem 0;
}
.cart-list-container {
  padding: 0;
  list-style-type: none;
  padding: 1rem;
}
.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem #808080 solid; 
}
.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.cart-action button {
  width: 15rem;
  padding: .5rem;
  background: none;
  border: .1rem #006631 solid;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}
.cart-action button:hover {
  color: white ;
  background: #006631;
}
.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}
.cart-image {
  flex: 1 1;
}
.cart-name {
  flex: 8 1;
  align-self: flex-start;
  padding-left: 3rem;
}
.cart-price {
  flex: 1 1;
  text-align: end;
  font-size: larger;
  font-weight: bold;
  align-self: flex-start;
}
.deleteButton {
  margin-left: 1rem;
  background: white;
  border: .1rem #808080 solid;
  padding: 0.2rem 1rem;
  border-radius: .2rem;
  cursor: pointer;
}
.deleteButton:hover {
  background: #006631;
  color: white;
}
.item-name a {
  text-decoration: none;
}
.item-name {
  padding-bottom: 2rem;
}






@media screen and (max-width: 1024px) {

}
@media screen and (max-width: 950px) {
 
}
@media screen and (max-width: 650px) {

}

@media screen and (max-width: 480px) {

  .header {
     padding: unset;
  }
  .brand a {
    font-size: 21px;
    padding-left: 1rem;
  }
  .brand-button  {
    padding-left: 1rem !important;
  }
  .header-links a {
    font-size: 14px;
    padding: 0 1rem 0 0rem;
  }
  .product-image {
     width: fit-content;
     max-width: 8rem;
     max-height: 8rem;
  }
  .products li {
     flex: 0 1 8rem;
     height: 15rem;
  }
  .product-rating {
     font-size: 11px;
  }
  .product-price, .sidebar li {
     font-size: 16px;
  }
  .product-name {
     font-size: 13px;
  }
  .sidebar h3 {
     font-size: 21px;
  }
  .fa-times {
     right: unset;
     left: 17rem;
  }
  .details {
    padding: unset;
  }
  .details-image img {
    margin: 30px 50px;
    width: 70%;
  }
  .details-action {
    margin: 50px;
  }
  .back-to-home {
    padding: 50px;
  }
  .cart-name {
    padding-left: 1rem;
  }
  .deleteButton {
    margin: 1rem 0rem; 
  }
  .item-name a {
    font-size: 16px;
  }
  .cart-price {
    font-size: large;
  }
  .grid-container {
    display: unset; 
  }
  .cart-list-container {
    padding: unset
  }
  .cart {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .cart-action {
    margin-left: unset;
    padding: 1rem;
    margin-bottom: 4rem;
  }
  .item-name {
    padding-bottom: 1rem;
    padding-right: 1rem;
  }
  .cart-list-container li {
    align-items: flex-end !important;
  }
}